
.em-logo-div{
    width: 100%;
    padding: 24px 0px;
    border-bottom: 2px solid #e1e1e1;
}
.em-sidebar-list-div{
/* border: 1px solid; */
padding: 20px 0px;
}
.em-sidebar-list-div ul{
    list-style: none;
    /* border: 1px solid; */
    padding: 0px 50px;

}
.em-sidebar-list-div ul li{
    border-bottom: 2px solid #e1e1e1;
    /* border: 1px solid; */
    padding: 20px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
    font-weight: 500;
}
.em-sidebar-list-div ul li:hover{
    background-color: #e0e0e0;
}
