.hr-dash-container{
    min-height: 100vh;
    width: 100%;
    /* border: 1px solid; */
}
.hr-sidebar{
    width: 300px;
    position: fixed;
    height: 100vh;
    background-color: rgb(246, 246, 246);
    /* padding: 20px 20px; */
    box-shadow: 0px 2px 6px #ccc;
    text-align: center;
}
.hr-nav-container{
    background-color: var(--primary-color);
    height: 145px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    position: absolute;
    width: calc(100% - 300px);
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
.hr-wlcm-div{
    font-family: "Dancing_Script";
    font-size: 46px;
    font-weight: 900;
    /* border: 1px solid; */
    padding: 8px;
}
.hr-dash-div{
    padding-top: 165px;
    padding-left: 320px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid;
}


.emp-stats-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}
.emp-stats-container>div{
    height: 120px;
    box-shadow: 0px 0px 6px #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 25%;
}
.emp-stats-container  h2{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.stats-number{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
}
.pending-approvals-div .stats-number{
    color: #dc3545;
}

.hr-dash-div .stats2-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* margin-bottom: 40px; */
}
.stats2-container>div{
    height: 390px;
    box-shadow: 0px 0px 6px #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}
.stats2-container>div>h2{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.pie-chart{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
.att-pie-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}
.mark-attendance-div{
    height: 300px;
    width: 50%;
    box-shadow: 0px 0px 6px #ccc;
    border-radius: 10px;
    padding: 20px;
}
.mark-attendance-div h2{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.employee-pie-chart-div{
    height: 300px;
    width: 50%;
    box-shadow: 0px 0px 6px #ccc;
    border-radius: 10px;
    padding: 20px;
}
.employee-pie-chart-div h2{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
} */
